<h1>Thanks for looking!</h1>
<p>This is a quick application I built that is running on azure. The tech stack includes:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='https://www.microsoft.com/en-us/sql-server/sql-server-downloads'>Sql Server</a> for database</li>
  <li><a href='https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/overview'>Entity FrameWork</a> for queries</li>
  <li><a href='https://azure.microsoft.com/en-us/'>Azure</a> for deployment</li>
</ul>
<p>Also implemented to allow a friendly user experience</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
<h3 style="text-align: center">Now please navigate to DB test to test out this mini app!</h3>
